

@font-face {
  font-family: "redaction";
  src: url('./fonts/Redaction20-Regular.woff2') format("woff"),
  local("Redaction 20");

  font-style: normal;
}
@font-face {
  font-family: "redaction";
  src: url("./fonts/Redaction20-Italic.woff2") format("woff"),
  local("Redaction 20 Italic");;

  font-style: italic;
}
@font-face {
  font-family: "redaction";
  src: url('./fonts/Redaction20-Bold.woff2') format("woff"),
  local("Redaction 20 Bold");;
  font-style: normal;
  font-weight: bold;
}

html * {
font-family: "redaction", Arial;
}

div {
  /* ---------debug Borders-----------------*/
border-style: solid;
border-width: 0.00rem;
border-color: black !important;
  /* ---------------------------------*/

}

body {
        margin: auto;

        background-color: white; /* rgb(222,222,222);*/
        cursor: crosshair;
        min-height: 600;
        height: 100%;



/*------------Global FONTSIZE----------*/
        font-size: 3.7vw;
  font-family: redaction;
}

@media (orientation: landscape) {
  body{/* background-color:#fefefa; */
   }  


  .container {

      margin:auto;
      width: 40%;
      min-width: 600px;


    }
  .carBody{
    overflow: visible;

  }
}

@media (orientation: portrait) {


  body{ 
    font-size: 10vw;

  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
      width: 97%;
      display: flex;
      align-content: center;
      justify-content: center;

   }


  .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
      width: 95%;


  }
  .cardBody{
        min-height: 900px;
      }
}


.container {

/*-----------animation -----*/

animation: fadeIn ease 0.1s;


}

.cardBody
{


margin-top:0.1rem;
padding: 5rem;
padding-top: 0.1rem;
padding-bottom: 0.5rem;
padding: 0rem;




 display: flex;
 flex-direction: column;
align-items: space-between;
justify-content: space-between;
align-content: center;


  box-sizing: border-box;

  width:100%;

  background-color: white;

border-radius: 0.5rem;



border-style: solid;
border-color: black;
border-width: 0.15rem;

box-shadow: 1px 3px 0px 0px rgb(0,0,0);



}

.header{

text-decoration: none;
width: 100%;
margin: auto;
margin-top: 0rem;



border-style: solid;
border-width: 0.01rem;
border-color: black;
border-top-right-radius: 0.5rem;
border-top-left-radius: 0.5rem;


text-align: center;
/*padding: 0.1rem;*/
cursor: pointer;


font-style: regular;
font-size: 125%;

}

.buttonContainer {

border-style: solid;
border-width: 0.01rem;
border-color: black;

 display: flex;
 justify-content: center;
 /*align-items: center;*/
  }

.bigButton {
z-index: 1;
 display: flex;
 justify-content: center;

 width:100%;
 height: 100%;
   margin:auto;

/*max-height: 33vw;

  //margin-top: 3vw;
  //margin-bottom: 3vw;
*/

background-color:white;
border-radius: 50%;
border-width: 0.1rem;
border-color: black;
border-style: solid;


overflow: hidden;


}
.bigButtonText {
/*background-color:red;*/
font-size: 333%;
text-align: center;

  padding-top: 8rem;
  padding-bottom: 8rem;


}
.clickAble{
  box-shadow: 5px 5px 0px 0px rgb(0,0,0);

}

.clickAble:hover{
font-weight: bold;
cursor: pointer;

}

.clickAble:active,focus {
  transform: translateY(10%) ;
  background-color: white;

    outline: none;
    border-color: black;
    box-shadow: 0px 2px 0px 0px rgb(0,0,0);



        }
.textBox{
margin: auto;
width: 100%;
padding:1rem;
box-sizing: border-box;
min-height: 10rem;



background-color: white;
border-style: solid;
border-width: 0.1rem;
border-color: black;
border-radius: 0rem;
text-align: center;

display: flex;
justify-content: center;


}


.buttonBox{
/*padding: 0.3rem;*/
width: 100%;
padding: 0rem;
  display: flex;
 justify-content: right;



//align-self:flex-end;


border-width: 0.01rem;

}

.footerButtons{
 
background-color: white;
border-style: solid;
border-width: 0.1rem;
border-color: black;
border-radius: 50%;

width: 5rem;
height: 5rem;

text-align: center;
cursor: pointer;

padding: 0.1rem;
margin-top: 0.3rem;
margin-bottom:0.3rem;

font-size: 150%;


}

button{  
}



a:visited {
    text-decoration: none;
    color:black;
}

a {
      text-decoration: none;
    color:black;
}

.myOGTextSpan{
  margin-top:auto;
  margin-bottom: auto;

}
.myTextSpan{
  animation: fadeIn ease 14s;
  margin-top:auto;
  margin-bottom: auto;
  font-style: italic;


}



 /*-----//ANIMATION//------- */
@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 

.popUp{
  z-index: 2;

  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
width: 40%;

min-width: 37rem;

margin: auto;
padding:1rem;
box-sizing: border-box;
min-height: 15rem;


background-color: white;
border-style: solid;
border-width: 0.1rem;
border-color: black;
border-radius: 1rem;
text-align: center;

font-size: 75%;
  display: inline-block;
  vertical-align: middle;
  }


