

@font-face {
  font-family: "redaction";
  src: url('./fonts/Redaction_20-regular.woff2')
  ;

  font-style: normal;
}
@font-face {
  font-family: "redaction";
  src: url("./fonts/Redaction_20-italic.woff2");

  font-style: italic;
}
@font-face {
  font-family: "redaction";
  src: url('./fonts/Redaction_20-bold.woff2');
  font-style: oblique;
}

html * {
font-family: redaction;
}


body {
        margin: auto;

        background-color: white;
        cursor: crosshair;
        min-height: 600;
        height: 100%;


/*------------Global FONTSIZE----------*/
        font-size: 3.5vw;
  font-family: redaction;
}

.container {

margin:auto;
width: 50%;
min-width: 600px;

 

/*-----------animation -----*/

animation: fadeIn ease 0.1s;


}

.box
{

margin-top:0.1rem;
padding: 2rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;


overflow: auto;


 display: flex;
 flex-direction: column;
align-items: space-between;
align-content: center;


  box-sizing: border-box;

  width:100%;

  background-color: silver;
border-radius: 1rem;
border-style: solid;
border-color: black;
border-width: 0.2rem;



}

.header{

text-decoration: none;
width: 100%;
margin: auto;

background-color: white;
border-style: solid;
border-width: 0.2rem;
border-color: black;
border-radius: 1rem;

text-align: center;
padding: 0.1rem;
font-size: 75%;
cursor: pointer;


font-style: regular;


}

.buttonContainer {
 display: flex;
 justify-content: center;
 /*align-items: center;*/
  }

.bigButton {

 width:100%;
 height: 100%;


  padding-top: 4rem;
  padding-bottom: 4rem;
  margin:0.6rem;


background-color:white;
border-radius: 50%;
border-width: 0.2rem;
border-color: black;
border-style: solid;

cursor: pointer;


font-size: 333%;
text-align: center;


}

.bigButton:hover{
font-style: oblique;
}

.bigButton:active,focus {
  transform: translateY(10%) ;
  background-color: white;

    outline: none;
    border-color: black;


        }
.textBox{
margin: auto;
width: 100%;
padding:1rem;
box-sizing: border-box;
min-height: 10rem;



background-color: white;
border-style: solid;
border-width: 0.2rem;
border-color: black;
border-radius: 1rem;
text-align: center;

display: flex;
justify-content: center;


}


.buttonBox{
padding: 0.3rem;
width: 100%;

  display: flex;
 justify-content: right;



align-self:flex-end;

/*
border-style: dashed;
border-width: 0.01rem;
border-radius: 1rem;
*/


}

.footerButtons{
 
background-color: white;
border-style: solid;
border-width: 0.2rem;
border-color: black;
border-radius: 50%;

width: 5rem;
height: 5rem;

text-align: center;
cursor: pointer;

padding: 0.1rem;
margin-top: 0.3rem;
margin-bottom:0.3rem;

font-size: 150%;


}

.footerButtons:active {
  transform: translateY(10%);
  outline: none;

}


button{  
}



a:visited {
    text-decoration: none;
    color:black;
}

a {
      text-decoration: none;
    color:black;
}


.myTextSpan{
  animation: fadeIn ease 4s;
  margin-top:auto;
  margin-bottom: auto;


}



 /*-----//ANIMATION//------- */
@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 

.popUp{
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
width: 40%;

margin: auto;
padding:1rem;
box-sizing: border-box;
min-height: 15rem;


background-color: white;
border-style: solid;
border-width: 0.2rem;
border-color: black;
border-radius: 1rem;
text-align: center;

font-size: 100%;
}


