

@font-face {
  font-family: redaction;
  src: url(./css/fonts/Redaction_20-regular.woff2.ttf);

  font-style: normal;
}
@font-face {
  font-family: redaction;
  local: "Redaction_20-italic";

  src: url(./css/fonts/Redaction_20-italic.woff2.ttf);
  font-style: italic;
}
@font-face {
  font-family: redaction;
  src: url(./css/fonts/Redaction_20-bold.woff2.ttf);
  font-style: oblique;
}

html * {
font-family: "redaction";
}


body {
        margin: auto;
        background-color: white;
        cursor: crosshair;
        height: 100%;
        

/*------------Global FONTSIZE----------*/
        font-size: 3.5vw;
  font-family: "redaction";
}

.container {
margin:auto;
height: 95%;
width: 50%;
min-width: 300px;

 

/*-----------animation -----*/

animation: fadeIn ease 0.1s;


}

.box
{
  margin-top:auto;
padding: 2rem;
  box-sizing: border-box;

 height: 100%;
  width:100%;

  background-color: silver;
border-radius: 1rem;
border-style: solid;
border-color: black;
border-width: 0.2rem;


}

.header{

width: 100%;
margin: auto;

background-color: white;
border-style: solid;
border-width: 0.2rem;
border-color: black;
border-radius: 1rem;

text-align: center;
padding: 0.1rem;
font-size: 75%;
cursor: pointer;


font-style: oblique;


}

.buttonContainer {
 display: flex;
 justify-content: center;
   align-items: center; }

.button {

 width:100%;
 height: 100%;


  padding-top: 5rem;
  padding-bottom: 5rem;
  margin:0.6rem;


background-color:white;
border-radius: 50%;
border-width: 0.2rem;
border-color: black;
border-style: solid;

cursor: pointer;


font-size: 333%;
}

.button:hover{
font-style: italic;
}

.button:active {
  background-color: white;
  transform: translateY(10%);
        }

.textBox{

margin:auto;
width: 100%;
padding:1rem;
box-sizing: border-box;


background-color: white;
border-style: solid;
border-width: 0.2rem;
border-color: black;
border-radius: 1rem;

text-align: center;


}


.buttonBox{
padding: 0.3rem;
width: 100%;

  margin:auto;
  margin-top:0.5rem;


  display: flex;
 justify-content: right;

/*
border-style: dashed;
border-width: 0.01rem;
border-radius: 1rem;
*/


}

.footerButtons{

background-color: white;
border-style: solid;
border-width: 0.2rem;
border-color: black;
border-radius: 50%;

width: 5rem;
height: 5rem;

text-align: center;
cursor: pointer;

padding: 0.1rem;
margin-top: 0.5rem;

font-size: 200%;

}

.footerButtons:active {
  transform: translateY(10%);
}

button{  
}
a {
  

    text-decoration: none;
    color:black;
}

.myTextSpan{
  animation: fadeIn ease 4s;

}



 /*-----//ANIMATION//------- */
@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 
 }
